{if $type == 1 || $type == 2}
<div id="main_detail"  style="margin-left: 3px;float:unset;margin-left: 1%;width:98%;background-color: white;border-radius: 8px 8px 0px 0px;overflow: hidden;">
    <div class="trhead" style="width:calc(100% - 1px);height: 40px;">
        <div class="thhead" style="width:16%;">月份</div>
        <div class="thhead" style="width:16%;">到访率</div>
        <div class="thhead" style="width:16%;">成单率</div>
        <div class="thhead" style="width:16%;">续班率</div>
        <div class="thhead" style="width:16%;">消课率</div>
        <div class="thhead" style="width:16%;">满班率</div>
    </div>
    <div id="table_info" style="font-size: 12px">
        
        <?php
            for($i=0;$i<$num;$i++){
                if($type == 1){
                    $cell_name = $i  + 1 . '月份'; 
                }elseif($type == 2){
                    $cell_name = $i  + 1 . '季度'; 
                }
                echo   '<li class="CheckLog" >';
                echo   '<div class="thhead" style="width:16%;font-size: 12px;height: 60px;line-height: 20px">';
                echo   '<span>'. $cell_name.'</span>';
                echo   '</div>';
                echo   '<div class="thhead" style="width:16%;font-size: 12px;height: 60px;line-height: 20px">';
                echo   '<span>'. $list[0][$i].'</span>';
                echo   '</div>';
                echo   '<div class="thhead" style="width:16%;font-size: 12px;height: 60px;line-height: 20px">';
                echo   '<span>'. $list[1][$i].'</span>';
                echo   '</div>';
                echo   '<div class="thhead" style="width:16%;font-size: 12px;height: 60px;line-height: 20px">';
                echo   '<span>'. $list[2][$i].'</span>';
                echo   '</div>';
                echo   '<div class="thhead" style="width:16%;font-size: 12px;height: 60px;line-height: 20px">';
                echo   '<span>'. $list[3][$i].'</span>';
                echo   '</div>';
                echo   '<div class="thhead" style="width:16%;font-size: 12px;height: 60px;line-height: 20px">';
                echo   '<span>'. $list[4][$i].'</span>';
                echo   '</div>';
                echo   '</li>';
            }
        ?>

    </div>
</div>

{else}
<style>
.ProgressDiv{width:100%;height: 40px;border-radius: 20px;background-color: white;display: flex;flex-direction: row;justify-content: space-between;margin-bottom: 2%}
.ProgressDiv_parent{width:100%;height: 85px;}
.ProgressTitle{height: 40px;line-height: 40px;padding:0 10px;width:60px;color:gray}
.Progress{flex:1;position: relative;border-radius: 10px;overflow: hidden;height: 20px;margin-top: 10px;background-color: rgb(34, 47, 63);}
.Progress>div{width:100%;height: 20px;border-radius:10px;}
.Progress_detail{height: 40px;line-height: 40px;padding:0 10px;width:120px;color:gray;text-align: center}
</style>
{if $type == 3}
<div style="width:100%;font-size:16px;height: 30px;line-height:30px;float: left;text-align: center;"> 
    <span style="font-size: 16px;" >上半年</span>     
</div>
{else}
<div style="width:100%;font-size:16px;height: 30px;line-height:30px;float: left;text-align: center;"> 
    <span style="font-size: 16px;" >全年</span>     
</div>
{/if}
<div class="ProgressDiv">
    <div class="ProgressTitle">到访率 </div>
    <div class="Progress">
        <div style=" background-color: rgb(110, 228, 182);margin-left: -{php echo 100 -$list[0][0]}%"></div>
    </div>
    <div class="Progress_detail">{$list[0][0]}%</div>
</div>
<div class="ProgressDiv">
    <div class="ProgressTitle">成单率 </div>
    <div class="Progress">
        <div style=" background-color: rgb(110, 228, 182);margin-left: -{php echo 100 -$list[1][0]}%"></div>
    </div>
    <div class="Progress_detail">{$list[1][0]}%</div>
</div>
<div class="ProgressDiv">
    <div class="ProgressTitle">续班率 </div>
    <div class="Progress">
        <div style=" background-color: rgb(110, 228, 182);margin-left: -{php echo 100 -$list[2][0]}%"></div>
    </div>
    <div class="Progress_detail">{$list[2][0]}%</div>
</div>
<div class="ProgressDiv">
    <div class="ProgressTitle">消课率 </div>
    <div class="Progress">
        <div style=" background-color: rgb(110, 228, 182);margin-left: -{php echo 100 -$list[3][0]}%"></div>
    </div>
    <div class="Progress_detail">{$list[3][0]}%</div>
</div>
<div class="ProgressDiv">
    <div class="ProgressTitle">满班率 </div>
    <div class="Progress">
        <div style=" background-color: rgb(110, 228, 182);margin-left: -{php echo 100 -$list[4][0]}%"></div>
    </div>
    <div class="Progress_detail">{$list[4][0]}%</div>
</div>
{if $type == 3}
<div style="width:100%;font-size:16px;height: 30px;line-height:30px;float: left;text-align: center;"> 
    <span style="font-size: 16px;" >下半年</span>     
</div>
<div class="ProgressDiv">
    <div class="ProgressTitle">到访率 </div>
    <div class="Progress">
        <div style=" background-color: rgb(110, 228, 182);margin-left: -{php echo 100 -$list[0][1]}%"></div>
    </div>
    <div class="Progress_detail">{$list[0][1]}%</div>
</div>
<div class="ProgressDiv">
    <div class="ProgressTitle">成单率 </div>
    <div class="Progress">
        <div style=" background-color: rgb(110, 228, 182);margin-left: -{php echo 100 -$list[1][1]}%"></div>
    </div>
    <div class="Progress_detail">{$list[1][1]}%</div>
</div>
<div class="ProgressDiv">
    <div class="ProgressTitle">续班率 </div>
    <div class="Progress">
        <div style=" background-color: rgb(110, 228, 182);margin-left: -{php echo 100 -$list[2][1]}%"></div>
    </div>
    <div class="Progress_detail">{$list[2][1]}%</div>
</div>
<div class="ProgressDiv">
    <div class="ProgressTitle">消课率 </div>
    <div class="Progress">
        <div style=" background-color: rgb(110, 228, 182);margin-left: -{php echo 100 -$list[3][1]}%"></div>
    </div>
    <div class="Progress_detail">{$list[3][1]}%</div>
</div>
<div class="ProgressDiv">
    <div class="ProgressTitle">满班率 </div>
    <div class="Progress">
        <div style=" background-color: rgb(110, 228, 182);margin-left: -{php echo 100 -$list[4][1]}%"></div>
    </div>
    <div class="Progress_detail">{$list[4][1]}%</div>
</div>
{/if}
{/if}