<script type="text/javascript"> 
var kctitleid = {$lastid['id']};
var kctitleids = kctitleid + 25;
var kctitlepic = 0;
	$('#kctitle').click(function(){
		kctitlepic++;
		kctitleids++;
		var imgurlss = "url"+kctitleids;
		var imgurls = "'"+imgurlss+"'";
		var htmls1ss = '<div id="iconeditor'+kctitleids+'" class="editor needhidden" style="position: absolute;top:50px;">'+
					'	<div class="ng-scope">'+
					' 		<div class="arrow-left"></div>'+
					'		<div class="app-header-setting">'+
					'			<div class="app-header-setting-inner">'+
					'				<div class="panel panel-default">'+
					'					<div class="panel-body form-horizontal">'+
					'						<input type="hidden" name="type['+kctitleids+']" value="2" />'+
					'						<input type="hidden" name="place['+kctitleids+']" value="25" />'+
					'						<div class="form-group">'+
					'							<label class="col-xs-3 control-label"><span class="red">*</span>课程标题['+kctitlepic+']</label>'+
					'							<div class="col-xs-9">'+
					'								<input type="text" id="btnname'+kctitleids+'" name="btnname['+kctitleids+']" onkeyup="SwapTxt1('+kctitleids+')" placeholder="请输入课程名称" value=" " class="form-control ng-pristine ng-untouched ng-valid input_this">'+
					'							</div>'+
					'						</div>'+
					'					</div>'+
					'				</div>'+
					'			</div>'+
					'		</div>'+
					'	</div>'+
					'	</div>';	
				;
		$('.app-side').append(htmls1ss);			
	});
</script> 