{template 'public/header'}
{if $operation == 'display'}
<style>
/**按钮点击特效**/
.mb_marsk:hover{ -webkit-mask:-webkit-gradient(linear, left top, right bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))}
.qr_code_table{ width: 100%; min-height: 120px; float: left; }
.qr-code-table-name{}
.apps_item{ margin: 15px; width: 15%; height: 100px; float: left; border-radius: 6px; border: 1px solid #eceaea; }
.apps_box{ width: 100%; height: 100px; margin: 8px; }
.apps_item_image{ width: 22%; float: left; }
.apps_item_image img{border: 1px solid #eceaea;border-radius: 50%;}
.apps_item_info{ width: 70%; float: left; margin-left: 7px; }
.apps_item_name{ font-weight: bold; width: 100%; }
.yaz{position: absolute;width: 17px;height: 17px;margin-left: 5px;background: url({MODULE_URL}public/mobile/img/ico_no_1.png) no-repeat; background-position: center center; background-size: 17px 17px;}
.app_info{font-size: 11px;color: #9c9393;max-height: 33px;overflow: hidden;}
.apps_infos{ float: right; font-weight: 100; font-size: 10px; color: #2515f7; }
.btnlist{width: 100%;}
.install_btn{ max-width: 64%; padding: 4px; text-align: center; height: 26px; margin: 8px; font-size: 12px; line-height: 17px; border-radius: 5px; background: #de3d52; color: #fff; float: right; margin-top: 5px; }
.use_btn{cursor:pointer;max-width: 64%; padding: 4px; text-align: center; height: 26px; margin: 8px; font-size: 12px; line-height: 17px; border-radius: 5px; background: #3dcede; color: #fff; float: right; margin-top: 5px; }
.school_box{ width:75px; height:100px; margin:20px; float: left;position: relative;}
.school_icon{ width:100%; }
.school_icon img{ width: 100%; border-radius:50% }
.school_title{width:100%;text-align:center}
.icon_marsk{ position: absolute; top: 0px; width: 75px; height: 75px; border-radius: 50%; z-index: 5; background-color: rgba(0,0,0,.5); text-align: center;display:none}
.gou{ font-family: we7icon!important; display: inline-block; speak: none; font-style: normal; font-weight: 400; font-variant: normal; text-transform: none; color: #fff; font-size: 23px; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); transform: translate(-50%,-50%); line-height: 1; -webkit-font-smoothing: antialiased; }
</style>

<div class="main">
    <div class="panel panel-default">
        <div class="panel-body">
			<div id="queue-setting-index-body">
				<div class="alert alert-success">
					建议：当学校开启相关应用权限后，不要再次关闭学校使用该应用权限，如：学校启用团购功能，那么关闭后，学校已经创建的团购功能仍然能正常使用，但是学校无法创新新的团购课程
				</div>
				<div class="qr_code_table">
					<div class="qr_code_table_name">培训类</div>
					<div class="apps_item">
						<div class="apps_box">
							<div class="apps_item_image mb_marsk">
								<img src="{OSSURL}public/mobile/img/tuiguangapp.png" width="100%"/>
							</div>
							<div class="apps_item_info">
								<div class="apps_item_name">
									推广员
									<span class="yaz" data-toggle="tooltip" data-placement="top" data-original-title="优质应用"></span>
									{if $check_app['tuiguang'] == 1}
										<a class="apps_infos" style="color: #13ad13;">已安装</a>
									{else}
										<a class="apps_infos" style="color: red;" data-toggle="tooltip" data-placement="top" data-original-title="请联系管理员">未安装</a>
									{/if}
								</div>
								<div class="app_info ">推广员管理，学员跟踪，推广任务管理，推广绩效管理，数据统计</div>
								<div class="btnlist tuiguang"></div>
							</div>
						</div>
					</div>
					<div class="apps_item">
						<div class="apps_box">
							<div class="apps_item_image mb_marsk">
								<img src="{OSSURL}public/mobile/img/tuanapp.png" width="100%"/>
							</div>
							<div class="apps_item_info">
								<div class="apps_item_name">
									课程团购
									<span class="yaz" data-toggle="tooltip" data-placement="top" data-original-title="优质应用"></span>
									{if $check_app['tuan'] == 1}
										<a class="apps_infos" style="color: #13ad13;">已安装</a>
									{else}
										<a class="apps_infos" style="color: red;" data-toggle="tooltip" data-placement="top" data-original-title="请联系管理员">未安装</a>
									{/if}
								</div>
								<div class="app_info">支持团购海报，课程团购，团长优惠，团购统计，虚拟拼团</div>
								<div class="btnlist tuan"></div>
							</div>
						</div>
					</div>
					<div class="apps_item">
						<div class="apps_box">
							<div class="apps_item_image mb_marsk">
								<img src="{OSSURL}public/mobile/img/zhuliapp.png" width="100%"/>
							</div>
							<div class="apps_item_info">
								<div class="apps_item_name">
									课程助力
									<span class="yaz" data-toggle="tooltip" data-placement="top" data-original-title="优质应用"></span>
									{if $check_app['zhuli'] == 1}
										<a class="apps_infos" style="color: #13ad13;">已安装</a>
									{else}
										<a class="apps_infos" style="color: red;" data-toggle="tooltip" data-placement="top" data-original-title="请联系管理员">未安装</a>
									{/if}
								</div>
								<div class="app_info">支持助力海报，助力优惠，助力统计，虚拟助力</div>
								<div class="btnlist zhuli"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="qr_code_table">
					<div class="qr-code-table-name">通用类</div>
					<div class="apps_item">
						<div class="apps_box">
							<div class="apps_item_image mb_marsk">
								<img src="{OSSURL}public/mobile/img/bigdataapp.png" width="100%"/>
							</div>
							<div class="apps_item_info">
								<div class="apps_item_name">
									大数据
									<span class="yaz" data-toggle="tooltip" data-placement="top" data-original-title="优质应用"></span>
									{if $bigdata['is_bigdata'] == 1}
										<a class="apps_infos" style="color: #13ad13;">已安装</a>
									{else}
										<a class="apps_infos" style="color: red;" data-toggle="tooltip" data-placement="top" data-original-title="请联系管理员">未安装</a>
									{/if}
								</div>
								<div class="app_info">支持校园数据实时汇总显示，考勤统计，人数统计，财务统计，互动统计</div>
								<div class="btnlist bigdatapp">
								
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
        </div>
    </div>
</div>
<script>
require(['bootstrap'],function($){
	$('.btn,.tips').hover(function(){
		$(this).tooltip('show');
	},function(){
		$(this).tooltip('hide');
	});
});
</script>
{/if}
{template 'common/footer'}