{template 'public/header'}
{template 'public/comhead'}

<script src="{$_W['siteroot']}addons/weixuexiao/public/web/js/jquery.flot.js?v=2.1.4"></script>
<script src="{$_W['siteroot']}addons/weixuexiao/public/web/js/echarts-all.js?v=2.1.4"></script>	


<div class="clearfix" style="margin-left: 25%; margin-bottom: 5%;">
    <div class="col-sm-2 col-lg-3">
        <select style="margin-right:15px;" name="year" id="year" class="form-control">
            <option value="0">请选择年份</option>
            <?php
                $statyyear = 1980;
                $nowyear = date(Y,time());
                $endyear = $nowyear + 3;
                for($i = $statyyear; $i <= $endyear; $i++){
                    $selected = '';
                    if($i == $nowyear){
                        $selected = 'selected';
                    }
                   echo ' <option value="'.$i.'" '.$selected.'>'.$i.'年</option>';
                }
            ?>
        </select>
    </div>				
    <div class="col-sm-2 col-lg-2">
        <button class="btn btn-default" onclick='search()'><i class="fa fa-search"></i>搜索</button>
    </div>
    <div class="col-sm-2 col-lg-2">
        <form action="./index.php" method="get" class="form-horizontal" role="form">
            <input type="hidden" name="c" value="site" />
            <input type="hidden" name="a" value="entry" />
            <input type="hidden" name="m" value="weixuexiao" />
            <input type="hidden" name="do" value="zdytest" />
            <input type="hidden" name="schoolid" value="{$schoolid}" />
            <input type="hidden" name="SelectYear" id="SelectYear" value="{$year}" />
            <div class="form-group">
                <div class="col-sm-2 col-lg-2">
                    <button class="btn btn-success qx_605" name="out_putcode" value="out_putcode"><i class="fa fa-download"></i>导出</button>
                </div>  
            </div> 
        </form>
    </div>
</div>	
<div class="clearfix">
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="border-color: #e7eaec;border-style: solid solid none;">
                    <h5>每月情况比例</h5>
                </div>
                <div class="ibox-content">
                    <div class="echarts" id="echarts-pie-chart-a"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="border-color: #e7eaec;border-style: solid solid none;">
                    <h5>每季度情况比例</h5>
                </div>
                <div class="ibox-content">
                    <div class="echarts" id="echarts-pie-chart-b"></div>
                </div>
            </div>
        </div>
  </div>
</div>
<div class="clearfix">
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="border-color: #e7eaec;border-style: solid solid none;">
                    <h5>半年情况比例</h5>
                </div>
                <div class="ibox-content">
                    <div class="echarts" id="echarts-pie-chart-c"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="border-color: #e7eaec;border-style: solid solid none;">
                    <h5>全年情况比例</h5>
                </div>
                <div class="ibox-content">
                    <div class="echarts" id="echarts-pie-chart-d"></div>
                </div>
            </div>
        </div>
  </div>
</div>
<div id="container" style="height: 100%"></div>
{template 'public/footer'}
<script type="text/javascript">
var dom_a = document.getElementById("echarts-pie-chart-a");
var myChart_a = echarts.init(dom_a);

var dom_b = document.getElementById("echarts-pie-chart-b");
var myChart_b = echarts.init(dom_b);

var dom_c = document.getElementById("echarts-pie-chart-c");
var myChart_c = echarts.init(dom_c);

var dom_d = document.getElementById("echarts-pie-chart-d");
var myChart_d = echarts.init(dom_d);
var app = {};
op_a = null;
op_a = {
    tooltip: {
        trigger: 'axis'
    },
    legend: {
        data:['到访率','成单率','续班率','消课率','满班率']
    },
    
    xAxis: {
        type: 'category',
        boundaryGap: false,
        data: []
    },
    yAxis: {
        type: 'value'
    },
    series: []
};
var JSO = JSON.stringify(op_a);
var op_b =JSON.parse(JSO)
var op_c =JSON.parse(JSO)
var op_d =JSON.parse(JSO)
$.ajax({
    url: "{php echo $this->createWebUrl('zdytest',array('op'=>'GetData','schoolid'=>$schoolid))}",
    type: "POST",
    dataType: "json",
    success: function (res) {
        //按月划分
        op_a.xAxis.data = res.return_data_a.xAxis_data;
        op_a.series = res.return_data_a.series;

        //季度划分
        op_b.xAxis.data = res.return_data_b.xAxis_data;
        op_b.series = res.return_data_b.series;

        //半年划分
        op_c.xAxis.data = res.return_data_c.xAxis_data;
        op_c.xAxis.boundaryGap = res.return_data_c.boundaryGap;
        op_c.series = res.return_data_c.series;

        //全年划分
        op_d.xAxis.data = res.return_data_d.xAxis_data;
        op_d.xAxis.boundaryGap = res.return_data_d.boundaryGap;
        op_d.series = res.return_data_d.series;

        if (op_a && typeof op_a === "object") {
            myChart_a.setOption(op_a, true);
            myChart_b.setOption(op_b, true);
            myChart_c.setOption(op_c, true);
            myChart_d.setOption(op_d, true);
        }

    }
});
</script>
<script>
function search(){
    var year = $("#year").val()
    $("#SelectYear").val(year)
    $.ajax({
    url: "{php echo $this->createWebUrl('zdytest',array('op'=>'GetData','schoolid'=>$schoolid))}",
    type: "POST",
    data: {year:year},
    dataType: "json",
    success: function (res) {
       //按月划分
       op_a.xAxis.data = res.return_data_a.xAxis_data;
        op_a.series = res.return_data_a.series;

        //季度划分
        op_b.xAxis.data = res.return_data_b.xAxis_data;
        op_b.series = res.return_data_b.series;

        //半年划分
        op_c.xAxis.data = res.return_data_c.xAxis_data;
        op_c.xAxis.boundaryGap = res.return_data_c.boundaryGap;
        op_c.series = res.return_data_c.series;

        //全年划分
        op_d.xAxis.data = res.return_data_d.xAxis_data;
        op_d.xAxis.boundaryGap = res.return_data_d.boundaryGap;
        op_d.series = res.return_data_d.series;

        if (op_a && typeof op_a === "object") {
            myChart_a.setOption(op_a, true);
            myChart_b.setOption(op_b, true);
            myChart_c.setOption(op_c, true);
            myChart_d.setOption(op_d, true);
        }
    }
});
}
</script>
